/*//////////////////////////////////////////////////////////////////
[ BACKGROUND ]*/
#grad {
  background-image: linear-gradient(to bottom right, #591404, #F2DA5E);
}

/*//////////////////////////////////////////////////////////////////
[ TABLES ]*/
table.roundedCorners {
  border: 1px solid #F28705;
  border-radius: 25px;
  border-spacing: 0;
  }
table.roundedCorners td,
table.roundedCorners th {
  border-bottom: 1px solid #F28705;
  padding: 10px;
  }
table.roundedCorners tr:last-child > td {
  border-bottom: none;
}

/*//////////////////////////////////////////////////////////////////
[ FONTS ]*/

@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ TEXT ]*/
