body {
  background-image: linear-gradient(to bottom right, #591404, #F2DA5E);
}
table.roundedCorners {
  border: 1px solid DarkOrange;
  border-radius: 25px;
  border-spacing: 0;
  }
table.roundedCorners td,
table.roundedCorners th {
  border-bottom: 1px solid DarkOrange;
  padding: 10px;
  }
table.roundedCorners tr:last-child > td {
  border-bottom: none;
}
